	<!-- META DATA -->
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">
	<title><%= pageTitle || 'پنل مدیریت'  %></title>
	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/x-icon" href="/admin-assets/assets/images/brand/favicon.ico"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin-assets/assets/plugins/font-awesome/css/font-awesome.min.css">

	<!-- BOOTSTRAP CSS -->
	<link id="style" href="/admin-assets/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- BOOTSTRAP RTL CSS -->
	<link id="style" href="/admin-assets/assets/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />


	<!-- STYLE CSS -->
	<link href="/admin-assets/assets/css/style.css" rel="stylesheet" />
	<link href="/admin-assets/assets/css/skin-modes.css" rel="stylesheet" />

	<!--- FONT-ICONS CSS -->
	<link href="/admin-assets/assets/css/icons.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/admin-assets/sweetalert/sweetalert2.css">
    
    <link rel="stylesheet" href="/admin-assets/assets/css/custom-style.css">