<div class="slider-container"> 
  <div class="module sohomepage-slider ">
      <div class="yt-content-slider"  data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
          @foreach ( $homeSlides as $slide )
              
          <div class="yt-content-slide">
              <a href="{{$slide->url}}"><img  src="{{ asset($slide->image['indexArray']['userHome'])}}"
                  alt="{{$slide->title}}" class="img-responsive"></a>
          </div>

          @endforeach

      </div>
      
      {{-- <div class="loadeding"></div> --}}
  </div>            
</div>