@extends('customer.layouts.master')

@section('head-tag')

<link href="{{ asset('customer-assets/compare-css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('customer-assets/compare-css/rtl-style.css')}}" rel="stylesheet">
<link href="{{ asset('customer-assets/compare-css/style.css')}}" rel="stylesheet">


@endsection



@section('content')

<!-- START SECTION SHOP -->
<div id="comparetable">


@if($compares->count() >0)

<div class="section" >
	<div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="compare_box">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                        <tbody>
                            <tr class="pr_image">
                                <td class="row_title">تصویر خودرو</td>
                                @foreach ($compares as $compare )
                                <td class="row_img"><img src="{{$compare->image['indexArray']['medium'] }}" alt="compare-img"></td>
                                @endforeach

                            </tr>
                            <tr class="pr_title">
                                <td class="row_title">نام خودرو</td>                        
                                @foreach ($compares as $compare )
                                <td class="product_name">{{$compare->name}}</td>
                                @endforeach

                            </tr>
                            <tr class="pr_price">
                                <td class="row_title">قیمت</td>
                                @foreach ($compares as $compare )
                                <td class="product_price"><span class="price">{{$compare->price_us}}</span></td>
                                @endforeach
                            </tr>

   
                            <tr class="pr_size">
                                <td class="row_title">نوع</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->category->persian_name}}</span></td>
                                @endforeach

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">برند</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->brand->persian_name}}</span></td>
                                @endforeach

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">قدرت</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->power}}</span></td>
                                @endforeach

                            </tr>
                            <tr class="pr_size">
                                <td class="row_title">کشور سازنده</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->country}}</span></td>
                                @endforeach

                            </tr>

                            <tr class="pr_size">
                                <td class="row_title">حداکثر سرعت</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->maxspeed}}</span></td>
                                @endforeach

                            </tr>

                            <tr class="pr_size">
                                <td class="row_title">شتاب</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->acceleration}}</span></td>
                                @endforeach

                            </tr>
                            

                            <tr class="pr_size">
                                <td class="row_title">مصرف سوخت</td>
                                @foreach ($compares as $compare )
                                <td class="row_size"><span>{{$compare->fuel_consumption}}</span></td>
                                @endforeach

                            </tr>


                            <tr class="pr_remove">
                                <td class="row_title"></td>
 

 
                                @foreach ($compares as $compare )
                                <td class="row_remove" onclick="remove({{$compare->id}})" car-id = "{{$compare->id}}">
                                    <a ><span>حذف از مقایسه</span> <i class="fa fa-times"></i></a>
                                </td>
                                @endforeach

                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->`











@else

<h3>لیست مقایسه خالیست !</h3>

@endif

</div>




@endsection


@section('script')

<script>

// $('.row_remove').click(function() {
// console.log('hiii');

// var id = $(this).attr('car-id');


// console.log('hiii');

// $.ajax({
//         url : '/remove-from-compare-list/'+id,
//         type : "GET",
//         success : function(response){
//             document.getElementById('comparetable').innerHTML=response.html
//             console.log(response);
//         },
  
//     });



// });

function remove(id){

    console.log(id);
    // var id = $(this).attr('car-id');
    console.log('hiii');
    $.ajax({
        url : '/remove-from-compare-list/'+id,
        type : "GET",
        success : function(response){
            document.getElementById('comparetable').innerHTML=response.html
            console.log(response);
        },
  
    });



}




</script>




@endsection